Repository ludia8888/Arrakis-Project: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, validate-openapi-specs, check-secrets, validate-docker-compose, sync-package-scripts, terraform-validate-enhanced, python-security-audit, infrastructure-secret-scan, kubernetes-manifest-validation

Path conditions:
  python-indentation-check: any of: \.py$
  python-type-hints-check: any of: \.py$
  python-naming-patterns: any of: \.py$
  update-architecture-diagrams: any of: (\.py$|\.ya?ml$|docker-compose.*\.yml$|catalog-info\.yaml$|terraform/.*\.tf$)
  validate-openapi-specs: any of: .*\.openapi\.(json|yaml|yml)$
  check-secrets: any of: .*\.(py|yml|yaml|json|sh|env)$
  validate-docker-compose: any of: docker-compose.*\.ya?ml$
  sync-package-scripts: any of: scripts/.*\.(sh|py)$
  terraform-validate-enhanced: any of: terraform/.*\.tf$
  python-security-audit: any of: \.py$
  infrastructure-secret-scan: any of: (terraform/.*\.tf$|\.ya?ml$|\.json$|docker-compose.*\.yml$)
  kubernetes-manifest-validation: any of: (k8s/.*\.ya?ml$|kubernetes/.*\.ya?ml$|manifests/.*\.ya?ml$)

Initial commit: keep brand guide PDF
  Arrakis_Brand_CI_Guide_v1_1.pdf
Due: none

Tune Kaggle defaults for P100 training
  kaggle_train_visdrone_yolo26s.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Merge VisDrone classes for person vehicle training
  kaggle_train_visdrone_yolo26s.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Add checkpoint resume support for Kaggle training
  kaggle_train_visdrone_yolo26s.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Wire trained checkpoints into local runtime
  .gitignore
  README.md
  kaggle_train_visdrone_yolo26s.py
  model_runtime.py
  realtime_yolo26s.py
  requirements.txt
  run_yolo_frontend.sh
  yolo_frontend_app.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Auto-detect Kaggle VisDrone inputs
  README.md
  kaggle_train_visdrone_yolo26s.py
  requirements.txt
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Add Kaggle training notebook
  .gitignore
  README.md
  kaggle_train_visdrone_yolo26s.ipynb
Due: none

Handle wrapped VisDrone Kaggle inputs
  kaggle_train_visdrone_yolo26s.ipynb
  kaggle_train_visdrone_yolo26s.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Preserve Kaggle torch stack on P100
  README.md
  kaggle_train_visdrone_yolo26s.ipynb
Due: none

Pin P100-compatible torch on Kaggle
  README.md
  kaggle_train_visdrone_yolo26s.ipynb
Due: none

Fail fast on empty Kaggle label sets
  kaggle_train_visdrone_yolo26s.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Harden VisDrone training script safety and correctness
  kaggle_train_visdrone_yolo26s.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Skip empty labels dirs when detecting YOLO format
  kaggle_train_visdrone_yolo26s.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Fail fast when VisDrone annotations dir is missing
  kaggle_train_visdrone_yolo26s.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Auto-unwrap double-nested VisDrone directories
  kaggle_train_visdrone_yolo26s.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Fix YOLO label path resolution: hardlink images instead of symlinks
  kaggle_train_visdrone_yolo26s.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Add Arrakis VTOL flight demo scaffold
  .gitignore
  apps/flight-demo/ARCHITECTURE_V2_2.md
  apps/flight-demo/README.md
  apps/flight-demo/backend/__init__.py
  apps/flight-demo/backend/arrakis_core/__init__.py
  apps/flight-demo/backend/arrakis_core/controller.py
  apps/flight-demo/backend/arrakis_core/detector_service.py
  apps/flight-demo/backend/arrakis_core/route_planner.py
  apps/flight-demo/backend/arrakis_core/safety_manager.py
  apps/flight-demo/backend/config.py
  apps/flight-demo/backend/flight_adapters/README.md
  apps/flight-demo/backend/flight_adapters/__init__.py
  apps/flight-demo/backend/flight_adapters/ardupilot.py
  apps/flight-demo/backend/flight_adapters/base.py
  apps/flight-demo/backend/flight_adapters/mock.py
  apps/flight-demo/backend/flight_adapters/px4.py
  apps/flight-demo/backend/main.py
  apps/flight-demo/backend/requirements.txt
  apps/flight-demo/backend/schemas.py
  apps/flight-demo/frontend/index.html
  apps/flight-demo/frontend/package-lock.json
  apps/flight-demo/frontend/package.json
  apps/flight-demo/frontend/src/App.tsx
  apps/flight-demo/frontend/src/main.tsx
  apps/flight-demo/frontend/src/styles.css
  apps/flight-demo/frontend/src/vite-env.d.ts
  apps/flight-demo/frontend/tsconfig.app.json
  apps/flight-demo/frontend/tsconfig.json
  apps/flight-demo/frontend/vite.config.ts
  apps/flight-demo/run_backend.sh
  apps/flight-demo/run_frontend.sh
  apps/flight-demo/sim_runtime/README.md
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit, infrastructure-secret-scan

Refactor flight demo core state modules
  apps/flight-demo/backend/arrakis_core/controller.py
  apps/flight-demo/backend/arrakis_core/mission_state_machine.py
  apps/flight-demo/backend/arrakis_core/telemetry_hub.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Document provisional detector thresholds
  apps/flight-demo/ARCHITECTURE_V2_2.md
  apps/flight-demo/README.md
Due: none

Make flight demo perception backend swappable
  apps/flight-demo/ARCHITECTURE_V2_2.md
  apps/flight-demo/README.md
  apps/flight-demo/backend/arrakis_core/detector_service.py
  apps/flight-demo/backend/arrakis_core/perception_backends/README.md
  apps/flight-demo/backend/arrakis_core/perception_backends/__init__.py
  apps/flight-demo/backend/arrakis_core/perception_backends/base.py
  apps/flight-demo/backend/arrakis_core/perception_backends/synthetic_backend.py
  apps/flight-demo/backend/arrakis_core/perception_backends/yolo_backend.py
  apps/flight-demo/backend/config.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Harden flight demo mission reset and adapter contract
  apps/flight-demo/ARCHITECTURE_V2_2.md
  apps/flight-demo/README.md
  apps/flight-demo/backend/arrakis_core/controller.py
  apps/flight-demo/backend/arrakis_core/mission_executor.py
  apps/flight-demo/backend/arrakis_core/telemetry_hub.py
  apps/flight-demo/backend/arrakis_core/video_service.py
  apps/flight-demo/backend/flight_adapters/README.md
  apps/flight-demo/backend/flight_adapters/ardupilot.py
  apps/flight-demo/backend/flight_adapters/base.py
  apps/flight-demo/backend/flight_adapters/px4.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Separate flight demo state assembly and app lifecycle
  apps/flight-demo/ARCHITECTURE_V2_2.md
  apps/flight-demo/README.md
  apps/flight-demo/backend/arrakis_core/controller.py
  apps/flight-demo/backend/arrakis_core/state_payload_assembler.py
  apps/flight-demo/backend/arrakis_core/telemetry_hub.py
  apps/flight-demo/backend/main.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Add flight demo diagnostics and local CI checks
  apps/flight-demo/ARCHITECTURE_V2_2.md
  apps/flight-demo/README.md
  apps/flight-demo/backend/arrakis_core/controller.py
  apps/flight-demo/backend/arrakis_core/detector_service.py
  apps/flight-demo/backend/arrakis_core/mission_executor.py
  apps/flight-demo/backend/arrakis_core/mission_state_machine.py
  apps/flight-demo/backend/arrakis_core/perception_backends/base.py
  apps/flight-demo/backend/arrakis_core/perception_backends/synthetic_backend.py
  apps/flight-demo/backend/arrakis_core/perception_backends/yolo_backend.py
  apps/flight-demo/backend/arrakis_core/route_planner.py
  apps/flight-demo/backend/arrakis_core/safety_manager.py
  apps/flight-demo/backend/arrakis_core/state_payload_assembler.py
  apps/flight-demo/backend/arrakis_core/state_snapshot_recorder.py
  apps/flight-demo/backend/arrakis_core/telemetry_hub.py
  apps/flight-demo/backend/arrakis_core/video_service.py
  apps/flight-demo/backend/config.py
  apps/flight-demo/backend/flight_adapters/ardupilot.py
  apps/flight-demo/backend/flight_adapters/base.py
  apps/flight-demo/backend/flight_adapters/instrumented.py
  apps/flight-demo/backend/flight_adapters/mock.py
  apps/flight-demo/backend/flight_adapters/px4.py
  apps/flight-demo/backend/logging_utils.py
  apps/flight-demo/backend/main.py
  apps/flight-demo/backend/requirements.txt
  apps/flight-demo/check.sh
  apps/flight-demo/tests/test_adapter_contract.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Add first ArduPilot SITL adapter path
  apps/flight-demo/ARCHITECTURE_V2_2.md
  apps/flight-demo/README.md
  apps/flight-demo/backend/config.py
  apps/flight-demo/backend/flight_adapters/README.md
  apps/flight-demo/backend/flight_adapters/ardupilot.py
  apps/flight-demo/backend/requirements.txt
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Add flight demo SITL smoke scripts
  apps/flight-demo/README.md
  apps/flight-demo/sim_runtime/README.md
  apps/flight-demo/sim_runtime/check_environment.sh
  apps/flight-demo/sim_runtime/smoke_ardupilot_sitl.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Add flight demo runtime launch scripts
  apps/flight-demo/README.md
  apps/flight-demo/sim_runtime/README.md
  apps/flight-demo/sim_runtime/common.sh
  apps/flight-demo/sim_runtime/run_ardupilot_zephyr.sh
  apps/flight-demo/sim_runtime/run_backend_ardupilot.sh
  apps/flight-demo/sim_runtime/run_gazebo_zephyr.sh
  apps/flight-demo/sim_runtime/runtime.env.example
Due: check-secrets

Add sim runtime bootstrap and camera helpers
  apps/flight-demo/README.md
  apps/flight-demo/sim_runtime/README.md
  apps/flight-demo/sim_runtime/bootstrap_macos_runtime.sh
  apps/flight-demo/sim_runtime/common.sh
  apps/flight-demo/sim_runtime/enable_camera_stream.sh
  apps/flight-demo/sim_runtime/runtime.env.example
Due: check-secrets

Add Gazebo install helpers and VM fallback runtime
  .gitignore
  apps/flight-demo/README.md
  apps/flight-demo/sim_runtime/README.md
  apps/flight-demo/sim_runtime/bootstrap_ubuntu_vm_runtime.sh
  apps/flight-demo/sim_runtime/build_ardupilot_gazebo.sh
  apps/flight-demo/sim_runtime/check_environment.sh
  apps/flight-demo/sim_runtime/check_ubuntu_vm_runtime.sh
  apps/flight-demo/sim_runtime/install_gz_harmonic.sh
  apps/flight-demo/sim_runtime/open_rosetta_shell.sh
  apps/flight-demo/sim_runtime/runtime.env.example
Due: check-secrets

Add Ubuntu VM setup flow for flight demo
  apps/flight-demo/README.md
  apps/flight-demo/sim_runtime/README.md
  apps/flight-demo/sim_runtime/provision_ubuntu_vm_workspace.sh
  apps/flight-demo/sim_runtime/write_vm_host_runtime_env.sh
Due: check-secrets

Add QEMU Ubuntu fallback for flight demo
  apps/flight-demo/README.md
  apps/flight-demo/sim_runtime/README.md
  apps/flight-demo/sim_runtime/bootstrap_qemu_vm.sh
  apps/flight-demo/sim_runtime/run_qemu_vm.sh
  apps/flight-demo/sim_runtime/run_qemu_vm_headless.sh
Due: check-secrets

Tighten ArduPilot VTOL mission sequencing
  apps/flight-demo/backend/arrakis_core/mission_executor.py
  apps/flight-demo/backend/config.py
  apps/flight-demo/backend/flight_adapters/ardupilot.py
  apps/flight-demo/sim_runtime/common.sh
  apps/flight-demo/sim_runtime/params/zephyr_quadplane_demo.parm
  apps/flight-demo/sim_runtime/run_ardupilot_zephyr.sh
  apps/flight-demo/sim_runtime/runtime.env.example
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Refit flight demo for ArduPilot mission uploads
  apps/flight-demo/backend/arrakis_core/controller.py
  apps/flight-demo/backend/arrakis_core/mission_executor.py
  apps/flight-demo/backend/flight_adapters/ardupilot.py
  apps/flight-demo/backend/flight_adapters/base.py
  apps/flight-demo/backend/flight_adapters/instrumented.py
  apps/flight-demo/backend/flight_adapters/mock.py
  apps/flight-demo/backend/schemas.py
  apps/flight-demo/check.sh
  apps/flight-demo/frontend/src/App.tsx
  apps/flight-demo/sim_runtime/params/zephyr_quadplane_demo.parm
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Switch flight demo runtime to quadplane SITL
  apps/flight-demo/ARCHITECTURE_V2_2.md
  apps/flight-demo/README.md
  apps/flight-demo/sim_runtime/README.md
  apps/flight-demo/sim_runtime/bootstrap_macos_runtime.sh
  apps/flight-demo/sim_runtime/bootstrap_ubuntu_vm_runtime.sh
  apps/flight-demo/sim_runtime/check_environment.sh
  apps/flight-demo/sim_runtime/check_ubuntu_vm_runtime.sh
  apps/flight-demo/sim_runtime/common.sh
  apps/flight-demo/sim_runtime/params/quadplane_demo.parm
  apps/flight-demo/sim_runtime/provision_ubuntu_vm_workspace.sh
  apps/flight-demo/sim_runtime/run_ardupilot_quadplane.sh
  apps/flight-demo/sim_runtime/run_flightgear_view.sh
  apps/flight-demo/sim_runtime/runtime.env.example
  apps/flight-demo/sim_runtime/write_vm_host_runtime_env.sh
Due: check-secrets

Gate flight demo missions on adapter bootstrap readiness
  apps/flight-demo/ARCHITECTURE_V2_2.md
  apps/flight-demo/README.md
  apps/flight-demo/backend/arrakis_core/controller.py
  apps/flight-demo/backend/arrakis_core/telemetry_hub.py
  apps/flight-demo/backend/flight_adapters/ardupilot.py
  apps/flight-demo/backend/flight_adapters/base.py
  apps/flight-demo/backend/flight_adapters/instrumented.py
  apps/flight-demo/backend/flight_adapters/mock.py
  apps/flight-demo/backend/flight_adapters/px4.py
  apps/flight-demo/backend/main.py
  apps/flight-demo/backend/schemas.py
  apps/flight-demo/tests/test_adapter_contract.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Advance real quadplane SITL mission debugging
  apps/flight-demo/ARCHITECTURE_V2_2.md
  apps/flight-demo/README.md
  apps/flight-demo/backend/arrakis_core/controller.py
  apps/flight-demo/backend/arrakis_core/mission_executor.py
  apps/flight-demo/backend/arrakis_core/route_planner.py
  apps/flight-demo/backend/arrakis_core/safety_manager.py
  apps/flight-demo/backend/arrakis_core/telemetry_hub.py
  apps/flight-demo/backend/config.py
  apps/flight-demo/backend/flight_adapters/ardupilot.py
  apps/flight-demo/sim_runtime/README.md
  apps/flight-demo/sim_runtime/bootstrap_ubuntu_vm_runtime.sh
  apps/flight-demo/sim_runtime/check_ubuntu_vm_runtime.sh
  apps/flight-demo/sim_runtime/common.sh
  apps/flight-demo/sim_runtime/provision_ubuntu_vm_workspace.sh
  apps/flight-demo/sim_runtime/run_ardupilot_quadplane.sh
  apps/flight-demo/sim_runtime/run_flightgear_view.sh
  apps/flight-demo/sim_runtime/runtime.env.example
  apps/flight-demo/sim_runtime/smoke_ardupilot_sitl.py
  apps/flight-demo/sim_runtime/write_vm_guest_runtime_env.sh
  apps/flight-demo/sim_runtime/write_vm_host_runtime_env.sh
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Make ArduPilot quadplane landing mission-driven
  apps/flight-demo/backend/arrakis_core/mission_executor.py
  apps/flight-demo/backend/flight_adapters/ardupilot.py
  apps/flight-demo/backend/schemas.py
  apps/flight-demo/frontend/src/App.tsx
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Fix flight demo runtime env loading and landing approach
  apps/flight-demo/README.md
  apps/flight-demo/backend/config.py
  apps/flight-demo/backend/flight_adapters/ardupilot.py
  apps/flight-demo/sim_runtime/README.md
  apps/flight-demo/sim_runtime/common.sh
  apps/flight-demo/sim_runtime/run_backend_ardupilot.sh
  apps/flight-demo/sim_runtime/runtime.env.example
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Fix flight demo frontend websocket startup
  apps/flight-demo/backend/requirements.txt
  apps/flight-demo/frontend/index.html
  apps/flight-demo/frontend/public/favicon.svg
  apps/flight-demo/frontend/src/App.tsx
  apps/flight-demo/frontend/src/main.tsx
Due: none

Fix flight demo FlightGear host env handling
  apps/flight-demo/README.md
  apps/flight-demo/sim_runtime/README.md
  apps/flight-demo/sim_runtime/common.sh
  apps/flight-demo/sim_runtime/run_flightgear_view.sh
  apps/flight-demo/sim_runtime/runtime.env.example
  apps/flight-demo/sim_runtime/write_vm_guest_runtime_env.sh
  apps/flight-demo/sim_runtime/write_vm_host_runtime_env.sh
Due: check-secrets
