Repository ludia8888/Arrakis-Project: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, validate-openapi-specs, check-secrets, validate-docker-compose, sync-package-scripts, terraform-validate-enhanced, python-security-audit, infrastructure-secret-scan, kubernetes-manifest-validation

python-indentation-check:
  name: Python Indentation Check
  entry: python scripts/check_python_indentation.py
  language: system
  pass_filenames: true
  description: Validate Python files use consistent 4-space indentation

python-type-hints-check:
  name: Python Type Hints Check
  entry: python scripts/check_type_hints.py
  language: system
  pass_filenames: true
  description: Check for missing type hints in Python functions (warning only)

python-naming-patterns:
  name: Python Naming Pattern Check
  entry: python scripts/check-naming-patterns.py
  language: system
  args:
  - --path
  - .
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true
  description: Check for consistent class, function, and variable naming patterns

update-architecture-diagrams:
  name: Update Architecture Diagrams
  entry: bash
  args:
  - -c
  ...

validate-openapi-specs:
  name: Validate OpenAPI Specifications
  entry: bash
  language: system
  args:
  - -c
  ...

check-secrets:
  name: Check for Secrets
  entry: bash
  language: system
  args:
  - -c
  ...

validate-docker-compose:
  name: Validate Docker Compose
  entry: bash
  language: system
  args:
  - -c
  ...

sync-package-scripts:
  name: Sync Package.json Scripts
  entry: bash
  language: system
  args:
  - -c
  - "echo \"\U0001F4E6 Checking package.json scripts...\"\n\nif [ -f \"package.json\" ]; then\n  echo \"✅ package.json exists and scripts are managed\"\nelse\n  echo \"⚠️  No package.json found\"\nfi\n"
  pass_filenames: false
  ...

terraform-validate-enhanced:
  name: Enhanced Terraform Validation
  entry: bash
  language: system
  args:
  - -c
  ...

python-security-audit:
  name: Python Security Audit
  entry: bash
  language: system
  args:
  - -c
  ...

infrastructure-secret-scan:
  name: Infrastructure Secret Scanning
  entry: bash
  language: system
  args:
  - -c
  ...

kubernetes-manifest-validation:
  name: Kubernetes Manifest Validation
  entry: bash
  language: system
  args:
  - -c
  ...

Improve flight demo route planner map readability
  apps/flight-demo/frontend/src/App.tsx
  apps/flight-demo/frontend/src/styles.css
Due: none

Harden flight demo readiness and transition diagnostics
  apps/flight-demo/README.md
  apps/flight-demo/backend/arrakis_core/controller.py
  apps/flight-demo/backend/arrakis_core/mission_executor.py
  apps/flight-demo/backend/arrakis_core/state_payload_assembler.py
  apps/flight-demo/backend/arrakis_core/transition_diagnostics.py
  apps/flight-demo/backend/config.py
  apps/flight-demo/backend/flight_adapters/ardupilot.py
  apps/flight-demo/backend/flight_adapters/mock.py
  apps/flight-demo/backend/main.py
  apps/flight-demo/backend/schemas.py
  apps/flight-demo/frontend/src/App.tsx
  apps/flight-demo/frontend/src/styles.css
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Guard flight demo map source updates
  apps/flight-demo/frontend/src/App.tsx
Due: none

Fix flight demo MAVProxy runtime bootstrap
  apps/flight-demo/README.md
  apps/flight-demo/sim_runtime/README.md
  apps/flight-demo/sim_runtime/bootstrap_macos_runtime.sh
  apps/flight-demo/sim_runtime/check_environment.sh
  apps/flight-demo/sim_runtime/common.sh
  apps/flight-demo/sim_runtime/run_ardupilot_quadplane.sh
  apps/flight-demo/sim_runtime/runtime.env.example
  apps/flight-demo/sim_runtime/write_vm_guest_runtime_env.sh
  apps/flight-demo/sim_runtime/write_vm_host_runtime_env.sh
Due: check-secrets

Launch FlightGear without macOS app launcher
  apps/flight-demo/README.md
  apps/flight-demo/sim_runtime/README.md
  apps/flight-demo/sim_runtime/common.sh
  apps/flight-demo/sim_runtime/run_flightgear_view.sh
  apps/flight-demo/sim_runtime/runtime.env.example
  apps/flight-demo/sim_runtime/write_vm_guest_runtime_env.sh
  apps/flight-demo/sim_runtime/write_vm_host_runtime_env.sh
Due: check-secrets

Redesign flight demo frontend as full-screen GCS command center
  apps/flight-demo/frontend/index.html
  apps/flight-demo/frontend/src/App.tsx
  apps/flight-demo/frontend/src/styles.css
Due: none

fix(flight-demo): harden backend safety for VTOL autonomous patrol
  apps/flight-demo/backend/arrakis_core/controller.py
  apps/flight-demo/backend/arrakis_core/mission_executor.py
  apps/flight-demo/backend/arrakis_core/mission_state_machine.py
  apps/flight-demo/backend/arrakis_core/telemetry_hub.py
  apps/flight-demo/backend/flight_adapters/ardupilot.py
  apps/flight-demo/backend/main.py
  apps/flight-demo/backend/schemas.py
  apps/flight-demo/tests/test_safety_hardening.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

refactor(flight-demo): extract 28 airframe-specific constants into YAML profile system
  apps/flight-demo/backend/airframe_profile.py
  apps/flight-demo/backend/airframes/default-vtol.yaml
  apps/flight-demo/backend/airframes/large-vtol.yaml
  apps/flight-demo/backend/arrakis_core/controller.py
  apps/flight-demo/backend/arrakis_core/mission_executor.py
  apps/flight-demo/backend/arrakis_core/route_planner.py
  apps/flight-demo/backend/arrakis_core/safety_manager.py
  apps/flight-demo/backend/arrakis_core/telemetry_hub.py
  apps/flight-demo/backend/config.py
  apps/flight-demo/backend/flight_adapters/ardupilot.py
  apps/flight-demo/backend/flight_adapters/mock.py
  apps/flight-demo/backend/main.py
  apps/flight-demo/backend/requirements.txt
  apps/flight-demo/tests/test_adapter_contract.py
  apps/flight-demo/tests/test_airframe_profile.py
  apps/flight-demo/tests/test_safety_hardening.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit, infrastructure-secret-scan

feat(flight-demo): add quadcopter airframe type support alongside VTOL
  apps/flight-demo/backend/airframe_profile.py
  apps/flight-demo/backend/airframes/default-quadcopter.yaml
  apps/flight-demo/backend/airframes/default-vtol.yaml
  apps/flight-demo/backend/airframes/large-vtol.yaml
  apps/flight-demo/backend/arrakis_core/mission_executor.py
  apps/flight-demo/backend/config.py
  apps/flight-demo/backend/flight_adapters/ardupilot.py
  apps/flight-demo/backend/flight_adapters/mock.py
  apps/flight-demo/tests/test_quadcopter_support.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit, infrastructure-secret-scan

feat(flight-demo): dry lab hardening — 14 safety fixes + fault injection framework
  apps/flight-demo/backend/arrakis_core/controller.py
  apps/flight-demo/backend/arrakis_core/mission_executor.py
  apps/flight-demo/backend/flight_adapters/ardupilot.py
  apps/flight-demo/backend/flight_adapters/fault_injector.py
  apps/flight-demo/backend/flight_adapters/mock.py
  apps/flight-demo/tests/conftest.py
  apps/flight-demo/tests/test_ardupilot_hardening.py
  apps/flight-demo/tests/test_executor_robustness.py
  apps/flight-demo/tests/test_fault_injection.py
  apps/flight-demo/tests/test_integration_fault_scenarios.py
  apps/flight-demo/tests/test_safety_hardening.py
  apps/flight-demo/tests/test_stress.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

feat(flight-demo): SITL integration — Docker environment + 17 integration tests
  apps/flight-demo/docker-compose.sitl.yml
  apps/flight-demo/scripts/run_sitl_tests.sh
  apps/flight-demo/scripts/sitl.sh
  apps/flight-demo/sim_runtime/smoke_ardupilot_sitl.py
  apps/flight-demo/tests/conftest.py
  apps/flight-demo/tests/test_adapter_contract.py
  apps/flight-demo/tests/test_safety_hardening.py
  apps/flight-demo/tests/test_sitl_hardening.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, validate-docker-compose, sync-package-scripts, python-security-audit, infrastructure-secret-scan

feat(flight-demo): SITL flight sequence tests — 21 real flight scenarios
  apps/flight-demo/scripts/run_sitl_tests.sh
  apps/flight-demo/tests/conftest.py
  apps/flight-demo/tests/test_sitl_flight_sequence.py
  apps/flight-demo/tests/test_sitl_hardening.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, sync-package-scripts, python-security-audit

feat(flight-demo): deep SITL tests — 11 scenarios for mission lifecycle, GPS denial, and comm loss
  apps/flight-demo/tests/conftest.py
  apps/flight-demo/tests/test_sitl_deep.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

feat(flight-demo): battery failsafe E2E + in-flight comm loss deep SITL tests
  apps/flight-demo/tests/test_sitl_deep.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

feat(flight-demo): MAVLink v2 mission protocol fix + 50-scenario SITL matrix tests
  apps/flight-demo/backend/flight_adapters/ardupilot.py
  apps/flight-demo/tests/conftest.py
  apps/flight-demo/tests/test_sitl_matrix.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

feat(flight-demo): harden SITL stress envelope and scenario classification
  apps/flight-demo/backend/airframe_profile.py
  apps/flight-demo/backend/arrakis_core/controller.py
  apps/flight-demo/backend/arrakis_core/mission_state_machine.py
  apps/flight-demo/backend/arrakis_core/state_payload_assembler.py
  apps/flight-demo/backend/arrakis_core/telemetry_hub.py
  apps/flight-demo/backend/arrakis_core/transition_diagnostics.py
  apps/flight-demo/backend/flight_adapters/ardupilot.py
  apps/flight-demo/backend/flight_adapters/mock.py
  apps/flight-demo/backend/main.py
  apps/flight-demo/backend/schemas.py
  apps/flight-demo/docker-compose.sitl.yml
  apps/flight-demo/frontend/src/App.tsx
  apps/flight-demo/scripts/classify_sitl_matrix.py
  apps/flight-demo/sim_runtime/params/quadplane_demo.parm
  apps/flight-demo/tests/test_integration_fault_scenarios.py
  apps/flight-demo/tests/test_safety_hardening.py
  apps/flight-demo/tests/test_sitl_deep.py
  apps/flight-demo/tests/test_sitl_matrix.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, validate-docker-compose, sync-package-scripts, python-security-audit, infrastructure-secret-scan

chore: ignore local flight-demo claude worktrees
  .gitignore
Due: none

feat(flight-demo): harden control plane and SITL regressions
  .gitignore
  apps/flight-demo/backend/arrakis_core/controller.py
  apps/flight-demo/backend/arrakis_core/flight_event_recorder.py
  apps/flight-demo/backend/arrakis_core/mission_executor.py
  apps/flight-demo/backend/arrakis_core/mission_state_machine.py
  apps/flight-demo/backend/arrakis_core/telemetry_hub.py
  apps/flight-demo/backend/arrakis_core/transition_diagnostics.py
  apps/flight-demo/backend/config.py
  apps/flight-demo/backend/flight_adapters/ardupilot.py
  apps/flight-demo/backend/flight_adapters/base.py
  apps/flight-demo/backend/flight_adapters/instrumented.py
  apps/flight-demo/backend/flight_adapters/mock.py
  apps/flight-demo/backend/flight_adapters/px4.py
  apps/flight-demo/backend/main.py
  apps/flight-demo/backend/schemas.py
  apps/flight-demo/tests/conftest.py
  apps/flight-demo/tests/test_ardupilot_concurrency.py
  apps/flight-demo/tests/test_integration_fault_scenarios.py
  apps/flight-demo/tests/test_runtime_hardening_v2.py
  apps/flight-demo/tests/test_safety_hardening.py
  apps/flight-demo/tests/test_sitl_flight_sequence.py
  apps/flight-demo/tests/test_sitl_matrix.py
Due: python-indentation-check, python-type-hints-check, python-naming-patterns, update-architecture-diagrams, check-secrets, python-security-audit

Path conditions:
  python-indentation-check: any of: \.py$
  python-type-hints-check: any of: \.py$
  python-naming-patterns: any of: \.py$
  update-architecture-diagrams: any of: (\.py$|\.ya?ml$|docker-compose.*\.yml$|catalog-info\.yaml$|terraform/.*\.tf$)
  validate-openapi-specs: any of: .*\.openapi\.(json|yaml|yml)$
  check-secrets: any of: .*\.(py|yml|yaml|json|sh|env)$
  validate-docker-compose: any of: docker-compose.*\.ya?ml$
  sync-package-scripts: any of: scripts/.*\.(sh|py)$
  terraform-validate-enhanced: any of: terraform/.*\.tf$
  python-security-audit: any of: \.py$
  infrastructure-secret-scan: any of: (terraform/.*\.tf$|\.ya?ml$|\.json$|docker-compose.*\.yml$)
  kubernetes-manifest-validation: any of: (k8s/.*\.ya?ml$|kubernetes/.*\.ya?ml$|manifests/.*\.ya?ml$)
